@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lato:wght@700&family=Licorice&family=Pacifico&family=Quintessential&display=swap');


*{
    margin: 0px;
padding: 0px;
}

/* main opan */
.feather{
    margin-left: 20px;
    text-align: center;
    margin-top: 80px;
}
.feather h3{
    color: firebrick;
    font-size: 40px;
        font-family: 'Akaya Telivigala', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Licorice', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Quintessential', cursive;
z-index: 2;
}
.feather h4{
        font-family: 'Akaya Telivigala', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Licorice', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Quintessential', cursive;
}
.feather p{
    font-size:20px;
    color: dimgray;
}
.hro{
    /* font-family: 'Akaya Telivigala', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Licorice', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Quintessential', cursive; */
   border: 2px solid red;
   position: absolute;
   transform: rotate(90deg);
   margin-top: 80px;
   width: 280px;
   margin-left: -180px;
}
.icon{
    margin-top: 30px;
    text-align: center;
}
.icon a{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    /* box-shadow: 5px 5px 5px black; */
   /* border-radius: 50px; */
}
.icon a i{
margin-left: 10px;
transition: .3s;
}
.icon a i:hover{
    font-size:40 ;
box-shadow: 5px 5px 5px black;
border-radius: 10px;
 transform: scale(1.4);color: brown;
    }
    .feather2{
background-color: brown;
height: 300px ;
width: 300px;
border-radius: 50%;
margin: 0 auto;
margin-top: 100px;
margin-left:100px;
border: 4px solid black;

    }

    .img1g{
margin-top: -80px;
margin-left: 40px;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
    .bu{
        margin-left: 150px;
        margin-top: 20px;
        text-align: center;
    
    }
    .icon2{
    color: brown;
        margin-top: 90px;
    }
    .icon2 .ss{
     display: inline-block;
        /* font-size: 50px; */
        animation-name: hasib;
        animation-duration: 2s;
        position: relative;
    animation-iteration-count: infinite;
    }
    @keyframes hasib{
        0%{
top: 0;
left: 0;
font-size: 60px;
transform: rotate(10deg);
opacity: 0.5;
        }
        50%{
color: chartreuse;
        }
        100%{
            color: blue;
top: 100;
left: 50;
opacity: 1;
font-size: 60px;
transform: rotate(120deg);
        }
    }
/* main close */


/* trm opan */
.trm{
    height: 120px;
    width: 120px;
    background-color: blue;
position: absolute;
    border-radius: 50%;
border: 4px solid grey;
font-weight: bolder;
transform: skew(320deg);
border-bottom: none;
animation-name: has;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes has{
0%{
    opacity: 0.3;
color: red;
}
50%{
    opacity: 0.5;
color: blueviolet;
}
100%{
transform: rotate(120deg);
opacity: 1;
color: brown;
border: 2px solid gold;
transform: rotate(120deg);
z-index: 1;
}
}
/* trm close */


/* about opan */
.about{
    margin-top: 30px;
    text-align: center;
}
.ab{
        font-family: 'Akaya Telivigala', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Licorice', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Quintessential', cursive;
}
.feather3{
    margin-top: 50px;
    text-align: center;
}
.fe3-img{
    height: 420px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 15px gray;
    /* border: 2px solid black; */

}
.flo1{
    margin-top: 50px;
    /* border: 2px solid black; */
    padding: 10px;
    transition: 2s;
}
.flo1:hover{
box-shadow: 5px 5px 15px grey;
    /* border: 2px solid black; */
    padding: 10px;
    transform: scale(1.1);
    border-radius: 20px;
}
.abo{
    color: red;
    animation-name: abo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes abo{
    0%{

    }
    50%{
        opacity: 0.5;
        color: blue;
        transform: rotate(50deg);

    }
    100%{
        color: chartreuse;
        transform: rotate(120deg);
    }
}
/* about close */

/* contack opan */
.contack{
    margin-top: 120px;
}

.fe-4{
    text-align: center;
}

.fe-4 h1{
    color: brown;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Licorice', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Quintessential', cursive;
}
.con-hr{
    border: 2px solid black;
    width: 180px;
    transform: rotate(90deg);
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;
}
.fe-5{
    margin-left: 20px;
    margin-top: 20px;
}
.fe-ad{
    font-size: 30px;
    
}
.fec{
    margin-left: 40px;
    margin-top: -30px;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Licorice', cursive; */
    font-family: 'Pacifico', cursive;
    color: brown;
}
.lab1{
  font-weight: bolder;
}
/* contack close */
/* footer opan */
.foter{
    border-radius: 20px;
    padding: 5px;
    /* background-color: brown; */
    box-shadow: 5px 5px 15px gray;
  
}
.icon4 a{
    font-size: 30px;
padding: 10px;
box-shadow: 2px 2px 2px black;

}
.icon4 a:hover{
    box-shadow: 5px 5px 15px black;
    /* font-size: 30px; */
padding: 10px;
border-radius: 20px;

}
/* .foter{
background-color: brown;
} */
.fo{
    margin-top: 40px;
    text-align: center;
}
/* footer close */

